
<section id="footer">
  <div class="container">
    <div class="row">
      <p class="col-md-6">
        &copy; ChinyereOd <%= Time.now.year %>
        <%# Date.current.year %>
        <%# Time.zone.now.year %>
      </p>
      <p class="col-md-6">
        <ul class="list-inline">
          <a href="#" ><i class="fa fa-facebook-square"></i></a>
          <a href="#" ><i class="fa fa-twitter-square"></i></a>
          <a href="#" ><i class="fa fa-google-plus-square"></i></a>
          <a href="#" ><i class="fa fa-instagram"></i></a>
        </ul>
      </p>
    </div>

    <div class="row">
      <p class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>
